@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: "NunitoSans";
  font-weight: 400;
  src: local("NunitoSans"), url(../public/fonts/NunitoSans-Regular.ttf) format("truetype") ;
}

@font-face {
  font-family: "NunitoSans";
  font-weight: 800;
  src: local("NunitoSans"), url(../public/fonts/NunitoSans-Bold.ttf) format("truetype") ;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: NunitoSans, Poppins, Helvetica Neue, sans-serif;
  font-size: clamp(1rem, 2.5vmin, 1.15rem);
  text-size-adjust: none;

  @apply bg-white text-black font-normal scroll-smooth
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  @apply box-border;
   -webkit-tap-highlight-color: transparent;
}

img {
  user-select: none;
}

.container {
  @apply mx-auto px-4;
}

.twolines {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   line-height: 1.5;
   max-height: 3;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 
