.section {
  position: relative;
  overflow: hidden;
  height: 8rem;
  margin-block: 2vw;
}

@keyframes mobileScroll {
  to {
    left: -250%;
  }
}

@keyframes desktopScroll {
  to {
    left: -100%;
  }
}

.wrapper {
  width: 500%;
  position: absolute;
  left: 0;
  animation: mobileScroll 10s linear infinite;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 200%;
    animation: desktopScroll 20s linear infinite;
  }
}

.brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding-inline: 5vw;

  float: left;
  width: 50%;
}

.brands > img {
  height: 8rem;
}
