.scroll {
  position: relative;
}

.scroll::before,
.scroll::after {
  position: absolute;
  width: 1.5rem;
  height: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.scroll::before {
  inset: 0 auto 0 0;
  content: url(../public/images/arrow-left.svg);
  background: linear-gradient(
    to right,
    rgb(230, 230, 230),
    rgba(230, 230, 230, 0)
  );
}

.scroll::after {
  content: url(../public/images/arrow-right.svg);
  inset: 0 0 0 auto;
  background: linear-gradient(
    to left,
    rgb(230, 230, 230),
    rgba(230, 230, 230, 0)
  );
}

.scroll.middle::before,
.scroll.start::before {
  opacity: 0;
}

.scroll.middle::after,
.scroll.end::after {
  opacity: 0;
}
